/**
 * Enigma IDE
 * style.css v1.0
 * author: ryvor (@ryvor)
 */
 @font-face {
	font-family: 'Segoe Fluent Icons';
	font-weight: normal;
	font-style: normal;
	src: url(vendor/Segoe/fluentIcons.ttf) format('truetype'),
		 url(vendor/Segoe/fluentIcons.woff) format('woff'),
		 url(vendor/Segoe/fluentIcons.woff2) format('woff2');
}
:root { /* Theme */
	--color-primary: black;
	--color-secondary: white;
	--color-accent: grey;
	/* Taskbar */
		--titlebar-background: #d7dae0;
		--titlebar-color: ;
		--titlebar-menu-border-thickness: 1px;
		--titlebar-menu-border-style: solid;
		--titlebar-menu-border-color-primary: #f95959;
		--titlebar-menu-border-color-secondary: #b7bac2;
		--titlebar-menu-item-background-hover: #c5cad3;
	/* Sidebar */
		--sidebar-radius: 3px;
		--sidebar-background: #d7dae0;
		--sidebar-background-hover: #c5cad3;
		--sidebar-background-active: #b7bac2;
		--sidebar-border-thickness: 1px;
		--sidebar-border-style: solid;
		--sidebar-border-color: #c5cad3;
	/* Tabs */
		--tabs-background: #d7dae0;
		--tabs-background-hover: #c5cad3;
		--tabs-background-active: #2c313a;
		--tabs-color: ;
		--tabs-color-hover: ;
		--tabs-color-active: #dcdfe4;
		--tabs-close-background: ;
		--tabs-close-background-hover: #5c6370;
		--tabs-close-background-active: #5c6370;
		--tabs-close-color: ;
		--tabs-close-color-hover: ;
		--tabs-close-color-active: ;
		--tabs-border-thickness: 1px;
		--tabs-border-style: solid;
		--tabs-border-color: #c5cad3;
	/* Editor */
		--editor-background: #2c313a;
		--editor-color: #dcdfe4;
		--editor-font:
	"Courier New";
		--editor-font-size: 1rem;
		--editor-gutter-background: #2c313a;
		--editor-gutter-color: #dcdfe4;
		--editor-gutter-font:
	"Courier New";
		--editor-gutter-font-size: 1rem;
	/* Footer */
		--footer-background: #d7dae0;
		--footer-color: ;
		--footer-background-hover: #c5cad3;
		--footer-color-hover: ;
		--footer-border-thickness: 1px;
		--footer-border-style: solid;
		--footer-border-color: #c5cad3;
		--footer-height: 30px;
	/* Search */
		--search-background: #c5cad3;
		--search-background-hover: #b7bac2;
		--search-background-active: #b7bac2;
		--search-color: white;
		--search-color-hover: ;
		--search-color-active: ;
		--search-width: 25rem;
		--search-width-hover: 25rem;
		--search-width-active: 25rem;
		--search-border-thickness: 1px;
		--search-border-style: solid;
		--search-border-color: #c5cad3;
		--search-padding-top: 3px;
		--search-padding-right: 5px;
		--search-padding-bottom: 3px;
		--search-padding-left: 5px;
		--search-margin-top: 3px;
		--search-margin-right: 3px;
		--search-margin-bottom: 3px;
		--search-margin-left: 3px;
		--search-content-min-height: calc(var(--search-height) + calc(calc(var(--search-margin-top) + var(--search-margin-bottom)) + calc(var(--search-padding-top) + var(--search-padding-bottom))));
		--search-content-width: calc(var(--search-width) + calc(calc(var(--search-margin-left) + var(--search-margin-right)) + calc(var(--search-padding-left) + var(--search-padding-right))));
		--search-height: 16px;
		--search-content-border-width: 1px;
		--search-content-border-style: solid;
		--search-content-border-color: #b7bac2;
		--search-content-background: #d0d0d0;
	/* Settings */
		--settings-color: #c5cad3;
		--settings-padding-top: 5px;
		--settings-padding-right: 5px;
		--settings-padding-bottom: 5px;
		--settings-padding-left: 1rem;
		--settings-border-thickness: 1px;
		--settings-border-style: solid;
		--settings-border-color: #5c6370;
		
		--setting-category-background-hover: #444A55;
		--setting-category-background-active: #5c6370;

		--setting-input-checkbox-background: #d7dae0;
		--setting-input-checkbox-border-thickness: 1px;
		--setting-input-checkbox-border-style: solid;
		--setting-input-checkbox-border-color: #c5cad3;
		--setting-input-checkbox-checked-background: #d7dae0;
		--setting-input-checkbox-checked-color: #2c313a;
		--setting-input-checkbox-checked-border-thickness: 1px;
		--setting-input-checkbox-checked-border-style: solid;
		--setting-input-checkbox-checked-border-color: #c5cad3;

		--setting-input-number-background: #d7dae0;
		--setting-input-number-color: #2c313a;
		--setting-input-number-border-thickness: 1px;
		--setting-input-number-border-style: solid;
		--setting-input-number-border-color: #c5cad3;

		--setting-input-text-background: #d7dae0;
		--setting-input-text-color: #2c313a;
		--setting-input-text-border-thickness: 1px;
		--setting-input-text-border-style: solid;
		--setting-input-text-border-color: #c5cad3;
}
@media (prefers-color-scheme: dark) {
	:root { /* Theme */
		--color-primary: white;
		--color-secondary: black;
		--color-accent: grey;
		/* Taskbar */
			--titlebar-background: #1e2227;
			--titlebar-color: ;
			--titlebar-color: ;
			--titlebar-menu-border-thickness: 1px;
			--titlebar-menu-border-style: solid;
			--titlebar-menu-border-color-primary: #f95959;
			--titlebar-menu-border-color-secondary: #474a4e;
			--titlebar-menu-item-background-hover: #444A55;
		/* Sidebar */
			--sidebar-radius: 3px;
			--sidebar-background: #1e2227;
			--sidebar-background-hover: #444A55;
			--sidebar-background-active: #474a4e;
			--sidebar-color: ;
			--sidebar-color-hover: ;
			--sidebar-color-active: ;
			--sidebar-border-thickness: 1px;
			--sidebar-border-style: solid;
			--sidebar-border-color: #23272e;
		/* Tabs */
			--tabs-background: #1e2227;
			--tabs-background-hover: #444A55;
			--tabs-background-active: #2c313a;
			--tabs-color: ;
			--tabs-color-hover: ;
			--tabs-color-active: #dcdfe4;
			--tabs-close-background: ;
			--tabs-close-background-hover: #444A55;
			--tabs-close-background-active: #474a4e;
			--tabs-close-color: ;
			--tabs-close-color-hover: ;
			--tabs-close-color-active: ;
			--tabs-border-thickness: ;
			--tabs-border-style: ;
			--tabs-border-color: #23272e;
		/* Editor */
			--editor-background: #2c313a;
			--editor-color: #dcdfe4;
			--editor-font: "Courier New";
			--editor-font-size: 1rem;
			--editor-gutter-background: #2c313a;
			--editor-gutter-color: #dcdfe4;
			--editor-gutter-font: "Courier New";
			--editor-gutter-font-size: 1rem;
		/* Footer */
			--footer-background: #1e2227;
			--footer-color: ;
			--footer-background-hover: #444A55;
			--footer-color-hover: ;
			--footer-border-thickness: 1px;
			--footer-border-style: solid;
			--footer-border-color: #23272e;
		/* Search */
			--search-background: #23272e;
			--search-background-hover: #444A55;
			--search-background-active: #474a4e;
			--search-color: white;
			--search-color-hover: ;
			--search-color-active: ;
			--search-width: 25rem;
			--search-width-hover: 25rem;
			--search-width-active: 25rem;
			--search-border-thickness: 1px;
			--search-border-style: solid;
			--search-border-color: #23272e;
		/* Welcome */
		/* Settings */
	}
}
body {
	-webkit-user-select: none;
	user-select: none;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #a7a6a67c;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
body {
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto 30px;
	grid-template-columns: 300px 1fr;
	height: 100vh;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8rem;
	color: var(--color-primary);
	overflow: hidden;
}
titlebars,
titlebar {
    height: 2rem;
	grid-column-start: 1;
    grid-column-end: 3;
	background-color: var(--titlebar-background);
	color: var(--titlebar-color);
}
titlebar {
	display: none;
}
/**/
titlebar[for="win32"] * {
	display: block;
}
titlebar titlebar-icon,
titlebar[for="win32"] titlebar-icon {
	float: left;
	padding: 0.2rem 0.4rem;
    height: 1.6rem;
}
titlebar titlebar-icon img,
titlebar[for="win32"] titlebar-icon img {
	height: 100%;
}
titlebar[for="win32"] titlebar-menu {
	transition: display 1s;
	display: none;
	height: 100%;
	width: auto;
}
titlebar[for="win32"] titlebar-menu.show {
	display: flex;
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container {
	height: fit-content;
	position: relative;
	top: 4px;
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-label {
	width: max-content;
    padding: 2px 4px 3px 4px;
    margin-inline: 3px;
    border-radius: 3px;
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container:hover titlebar-menu-label {
    padding: 1px 3px 2px 3px;
    border: var(--titlebar-menu-border-thickness) var(--titlebar-menu-border-style) var(--titlebar-menu-border-color-primary);
}
titlebar[for="win32"] titlebar-menu:focus-within titlebar-menu-container:hover titlebar-menu-submenu {
	transition-delay: 0.2s;
	height: max-content;
	border: var(--titlebar-menu-border-thickness) var(--titlebar-menu-border-style) var(--titlebar-menu-border-color-secondary);
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-submenu {
	overflow: hidden;
	transition: height 0.25s;
	display: block;
    width: max-content;
    min-width: 100px;
    height: 0px;
    position: absolute;
    background-color: var(--titlebar-background);
    z-index: 999;
    border-radius: 3px;
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-submenu hr {
    width: 85%;
    opacity: 0.5;
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-submenu titlebar-menu-submenu-item {
    display: grid;
    margin: 2px;
    border-radius: 3px;
    padding: 2px 14px 3px 14px;
    grid-template-columns: 1fr 0fr;
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-submenu titlebar-menu-submenu-item:hover {
	background-color: var(--titlebar-menu-item-background-hover);
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-submenu titlebar-menu-submenu-item:active {
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-submenu titlebar-menu-submenu-item titlebar-menu-submenu-item-label {
	padding-right: 10px;
}
titlebar[for="win32"] titlebar-menu titlebar-menu-container titlebar-menu-submenu titlebar-menu-submenu-item titlebar-menu-submenu-item-accellerator {
	font-size: 0.5rem;
}
titlebar[for="win32"] titlebar-drag {
	-webkit-app-region: drag;
	height: 100%;
	width: -webkit-fill-available;
}
titlebar[for="win32"] titlebar-buttons {
	display: inline-flex;
	float: right;
    height: 100%;
}
titlebar[for="win32"] titlebar-buttons > * {
	font-family: 'Segoe Fluent Icons';
	aspect-ratio: 1.4;
	height: 100%;
	display: flex;
	align-items: center;
	place-content: center;
	font-size: 0.6rem;
}
titlebar[for="win32"] titlebar-buttons > *:hover {
	background-color: #7478807d;
}
titlebar[for="win32"] titlebar-buttons close:hover {
	background-color: #FF0000;
}
/**/
titlebar[for="madarwinc"] * {
	display: inline-block;
}
titlebar[for="darwin"] titlebar-drag {
	height: 100%;
	width: -webkit-fill-available;
}
titlebar[for="darwin"] titlebar-buttons {
	float: right;
    height: 100%;
}
titlebar[for="darwin"] titlebar-buttons > * {
    aspect-ratio: 1;
	height: 100%
}
titlebar[for="darwin"] titlebar-buttons > *:hover {
	background-color: #ffffff14;
}
titlebar[for="darwin"] titlebar-buttons close:hover {
	background-color: #FF0000;
}
/**/
titlebar[for="linux"] * {
	display: inline-block;
}
titlebar[for="linux"] titlebar-menu {
	height: 100%;
	width: 200px;
}
titlebar[for="linux"] titlebar-drag {
	height: 100%;
	width: -webkit-fill-available;
	-webkit-app-region: drag;
}
titlebar[for="linux"] titlebar-buttons {
	float: right;
    height: 100%;
}
titlebar[for="linux"] titlebar-buttons > * {
    aspect-ratio: 1;
	height: 100%
}
titlebar[for="linux"] titlebar-buttons > *:hover {
	background-color: #ffffff14;
}
titlebar[for="linux"] titlebar-buttons minimise {
}
titlebar[for="linux"] titlebar-buttons restore {
}
titlebar[for="linux"] titlebar-buttons maximise {
}
titlebar[for="linux"] titlebar-buttons close {
}
titlebar[for="linux"] titlebar-buttons close:hover {
	background-color: #FF0000;
}

sidebar {
	background-color: var(--sidebar-background);
	color: var(--sidebar-color);
	border-right: var(--sidebar-border-thickness) var(--sidebar-border-style) var(--sidebar-border-color);
}
sidebar project-title {
	display: flex;
	align-items: center;
	justify-content: center;
}
sidebar project-tree {
	overflow: auto;
	height: 100%;
	padding: 0;
	margin-left: 10px;
	display: block;
}
sidebar project-tree project-item {
	padding: 2px;
	position: relative;
	display: flex;
}
sidebar project-tree project-item:before {
	content: "";
	max-width: 0.5rem;
	width: 0.6rem;
	top: -1px;
	position: inherit;
}
sidebar project-tree project-item project-name-icon,
sidebar project-tree project-item project-label-icon {
	width: 1.3rem;
	overflow: hidden;
}
sidebar project-tree project-item project-name,
sidebar project-tree project-item project-label {
	display: flex;
	border-radius: var(--sidebar-radius);
	cursor: pointer;
	width: calc(100% - 1.5rem);
	margin-left: 5px;
}
sidebar project-tree project-item:not(.selected):hover {
	background-color: var(--sidebar-background-hover);
	color: var(--sidebar-color-hover);
}
sidebar project-tree project-item.selected {
	background-color: var(--sidebar-background-active);
	color: var(--sidebar-color-active);
}
sidebar project-tree project-item project-label:before {
	font-size: 17px;
	margin-right: 10px;
}
sidebar project-tree project-folder {
	transition: height 1s ease;
	padding-left: 1rem;
	width: calc(100% - 1rem);
	display: block;
	overflow: hidden;
	height: 0px;
}
sidebar project-tree project-folder.unfolded {
	height: auto;
}
sidebar project-tree project-folder > * {
	width: calc(100% - 1rem);
}
sidebar,content {
	display: grid;
	grid-template-rows: 30px auto;
	height: calc(100vh - calc(2rem + 31px));
	border-top: var(--sidebar-border-thickness) var(--sidebar-border-style) var(--sidebar-border-color);
}

content tabs {
	display: inline-flex;
	height: 100%;
	background-color: var(--tabs-background);
	color: var(--tabs-color);
}
content tabs:before {
	background: var(--tabs-background-active);
	position: absolute;
	cursor: pointer;
	color: var(--tabs-color-active);
	font-size: 1.5rem!important;
	text-align: -webkit-center;
	padding: 3px;
	width: 24px;
	height: 24px;
}
content tabs tab {
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding: 8px;
	border-right: var(--tabs-border-thickness) var(--tabs-border-style) var(--tabs-border-color);
	border-bottom: var(--tabs-border-thickness) var(--tabs-border-style) var(--tabs-border-color);
	display: flex;
	z-index: 1;
	background-color: var(--tabs-background);
}
content tabs tab tab-title {
	pointer-events: none;
}
content tabs tab tab-close {
    width: fit-content;
    height: 1rem;
    background-color: var(--tabs-close-background);
    color: var(--tabs-close-color);
    margin-left: 8px;
    border-radius: 2px;
    transition: background-color 0.2s;
}
content tabs tab tab-close:hover {
	background-color: var(--tabs-close-background-hover);
	color: var(--tabs-close-color-hover);
}
content tabs tab:not(.selected):hover {
	background-color: var(--tabs-background-hover);
	color: var(--tabs-color-hover);
}
content tab.selected {
	background-color: var(--tabs-background-active);
	border-color: var(--tabs-background-active);
	color: var(--tabs-color-active);
}
content editors {
	background-color: #2c313a;
	color: var(--editor-color);
	font-family: var(--editor-font-size);
	font-size: var(--editor-font-size);
	max-height: 100%;
	overflow: hidden;
	display: block;
	background-image: url('assets/enigma-dark-logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
@media (min-width: 1920px) {
	content editors {
		background-size: 25%;
	}
}
content editors editor {
	opacity: 0;
	height: 0px;
	display: block;
}
content editors editor.selected {
	height: 100%;
	width: 100%;
	opacity: 1;
}
content editors editor iframe {
	border: unset;
	width: 100%;
	height: 100%;
	background-color: var(--editor-background);
}

footer {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-start: 1;
	grid-column-end: 3;
	align-items: center;
	border-top: var(--footer-border-thickness) var(--footer-border-style) var(--footer-border-color);
	background-color: var(--footer-background);
	color: var(--footer-color);
}
footer footer-search {
	display: flex;
	height: 100%;
	justify-content: flex-start;
	height: var(--footer-height);
}
footer footer-search search {
	background-color: var(--search-background);
	color: var(--search-color);
	width: var(--search-width);
	margin: var(--search-margin-top) var(--search-margin-right) var(--search-margin-bottom) var(--search-margin-left);
	border-radius: 5px;
	outline: none;
	padding: var(--search-padding-top) var(--search-padding-right) var(--search-padding-bottom) var(--search-padding-left);
	border: var(--search-border-thickness) var(--search-border-style) var(--search-border-col-secondary);
	z-index: 10;
	height: var(--search-height);
}
footer footer-search search:hover {
	background-color: var(--search-background-hover);
	color: var(--search-color-hover);
	width: var(--search-width-hover);
	border-color: var(--search-border-col-secondary-hover);
}
footer footer-search search:focus {
	background-color: var(--search-background-active);
	color: var(--search-color-active);
	width: var(--search-width-active);
	border-color: var(--search-border-col-secondary-hover);
}
footer footer-search search-content {
	width: var(--search-content-width);
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	display: none;
	z-index: 5;
	background-color: var(--search-content-background);
	border: var(--search-content-border-width) var(--search-content-border-style) var(--search-content-border-color);
	padding-bottom: var(--search-content-min-height);
}
footer footer-search search:focus ~ search-content {
	display: block;
}
footer footer-controls {
	display: flex;
	height: 100%;
	justify-content: flex-end;
}
footer footer-controls a {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 10px;
	color: initial;
	text-decoration: none;
	color: var(--color-accent);
}
footer footer-controls a:hover {
	background-color: var(--footer-background-hover);
	color: var(--footer-color-hover);
}