/**
 * Enigma IDE
 * style.css v1.0
 * author: ryvor (@ryvor)
 */

:root {
	/** Colours **/
	--col-6: #b7bac2;
	--col-1: #c5cad3;
	--col-2: #d7dae0;
	--col-3: #2c313a;
	--col-4: #5c6370;
	--col-5: #dcdfe4;
}
@media (prefers-color-scheme: dark) {
	:root {
		/** Colours **/
	--col-1: #c5cad3;
	--col-2: #d7dae0;
	--col-3: #2c313a;
	--col-4: #5c6370;
	--col-5: #dcdfe4;
	}
}
:root { /* Theme */
	--border-thickness: 1px;
	--border-style: solid;
	--border-col: var(--col-1);

	--taskbar-background: var(--col-2);
	--taskbar-color: ;

	--sidebar-background: var(--col-2);
	--sidebar-color: ;
	--sidebar-background-hover: var(--col-1);
	--sidebar-color-hover: ;
	--sidebar-background-active: var(--col-6);
	--sidebar-color-active: ;
	--sidebar-radius: 3px;

	--editor-background: var(--col-3);
	--editor-color: var(--col-5);
	--editor-font: "Courier New";
	--editor-font-size: 1rem;
	--editor-gutter-background: var(--col-3);
	--editor-gutter-color: var(--col-5);
	--editor-gutter-font: "Courier New";
	--editor-gutter-font-size: 1rem;

	--tabs-background: var(--col-2);
	--tabs-color: ;
	--tabs-background-hover: var(--col-1);
	--tabs-color-hover: ;
	--tabs-background-active: var(--col-3);
	--tabs-color-active: var(--col-5);

	--footer-background: var(--col-2);
	--footer-color: ;
	--footer-background-hover: var(--col-1);
	--footer-color-hover: ;
}
body {
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto 30px;
	grid-template-columns: 300px 1fr;
	height: 100vh;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8rem;
}
titlebar {
	-webkit-app-region: drag;
    height: 2rem;
	grid-column-start: 1;
    grid-column-end: 3;
	background-color: var(--taskbar-background);
	color: var(--taskbar-color);
}
sidebar {
	background-color: var(--sidebar-background);
	color: var(--sidebar-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-col);
}
sidebar .tree-group {
	padding: 0;
	margin: 0;
}
sidebar .tree-item {
	padding: 0 0 0 20px;
	list-style: none;
	position: relative;
}
sidebar .tree-item:before {
	font-family: 'octicons' !important;
	position: absolute;
	left: 10px;
	top: 5px;
}
sidebar .tree-item-label {
	display: flex;
	padding: 5px 0 5px 5px;
	border-radius: var(--sidebar-radius);
	cursor: pointer;
}
sidebar .tree-item-label:not(.selected):hover {
	background-color: var(--sidebar-background-hover);
	color: var(--sidebar-color-hover);
}
sidebar .tree-item-label.selected {
	background-color: var(--sidebar-background-active);
	color: var(--sidebar-color-active);
}
sidebar .tree-item-label:before {
	font-size: 17px;
	margin-right: 10px;
}
sidebar project-title {
	display: flex;
	align-items: center;
	justify-content: center;
}
sidebar project-tree {
	overflow: auto;
}
sidebar, content {
	display: grid;
	grid-template-rows: 30px auto;
	height: calc(100vh - calc(2rem + 30px));
	border-top: var(--border-thickness) var(--border-style) var(--border-col);
}
content tabs {
	display: inline-flex;
	height: 100%;
	background-color: var(--tabs-background);
	color: var(--tabs-color);
}
content tabs tab {
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding: 6px;
	border-right: var(--border-thickness) var(--border-style) var(--border-col);
	border-bottom: var(--border-thickness) var(--border-style) var(--border-col);
}
content tabs tab:not(.selected):hover {
	background-color: var(--tabs-background-hover);
	color: var(--tabs-color-hover);
}
content tab.selected {
	background-color: var(--tabs-background-active);
	border-color: var(--border-col);
	color: var(--tabs-color-active);
}
content editors {
	background-color: var(--editor-background);
	color: var(--editor-color);
	font-family: var(--editor-font-size);
	font-size: var(--editor-font-size);
	max-height: 100%;
	overflow: scroll;
	padding-bottom: 1rem;
}
content editors editor {
	margin-top: 0;
	display: grid;
}
content editors editor editor-line {
	counter-increment: line-counter;
	color: var(--editor-gutter-color);
	list-style: decimal-leading-zero;
	width: 100%;
	height: 1rem;
}
content editors editor editor-line::before {
	content: counter(line-counter);
	display: inline-block;
	width: 2.5em;
	text-align: right;
	margin-right: 0.5em;
	font-family: monospace;
	font-size: 0.8rem;
}  
content editors editor editor-line editor-line-content {
	color: var(--editor-color);
}
content .window-2 {
	border-left: var(--border-thickness) var(--border-style) var(--border-col);
	display: none;
}
content.editor--2-windows-layout {
	grid-template-columns: 1fr 1fr;
}
content.editor--2-windows-layout .window-2 {
	display: grid;
}
footer {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-start: 1;
	grid-column-end: 3;
	align-items: center;
	border-top: var(--border-thickness) var(--border-style) var(--border-col);
	background-color: var(--footer-background);
	color: var(--footer-color);
}
footer footer-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
footer footer-info .file-info-source {
	padding: 0 10px;
}
footer footer-controls {
	display: flex;
	height: 100%;
	justify-content: flex-end;
}
footer footer-controls a {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 10px;
	color: initial;
	text-decoration: none;
}
footer footer-controls a:hover {
	background-color: var(--footer-background-hover);
	color: var(--footer-color-hover);
}